@import './popup.modular.css';

* {
  margin: none;
  padding: none;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;
}
input,
textarea,
button {
  border: none;
  outline: none;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
p {
  font-weight: normal;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}
:root {
  --primary: #6cadad;
  --seconday: #abd7d7;
}

header {
  background-color: var(--primary);
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 60px;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 500;
}

main {
  display: flex;
  margin: 65px;
  flex-direction: column;
}
.aside {
  position: fixed;
  left: 0px;
  top: 65px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: var(--primary);
  height: 90vh;
  width: 250px;
  padding: 20px 40px;
  color: white;
}
.aside div {
  cursor: pointer;
}
.aside i {
  font-size: 24px;
  margin-right: 20px;
}
menu {
  color: white;
  cursor: pointer;
}
nav {
  width: 30%;
  display: flex;
  justify-content: space-between;
  color: white;
}
nav * {
  cursor: pointer;
}
nav .fas {
  position: relative;
}
.fas span {
  position: absolute;
  right: 0px;
  bottom: 2px;
  background-color: brown;
  border-radius: 50%;
  padding: 2px;
  text-align: center;
}
nav i {
  font-size: 36px;
}
h2 {
  color: var(--primary);
}
nav img {
  border: 1px solid #000000;
  border-radius: 50%;
  margin-right: 5px;
}
.profile {
  display: flex;
  margin-right: 20px;
  align-items: center;
}
.main-wrapper {
  margin: 20px 15px 20px 200px;
}
.top-wrapp {
  width: 100%;
}
.dash-board {
  display: flex;
  justify-content: space-between;
  margin: 40px 0;
}
.dash-heads,
.article-heads {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;
  width: 100%;
}
.new-article {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 180px;
  background-color: var(--seconday);
  border-radius: 5px;
  text-align: center;
  color: white;
  cursor: pointer;
  transition: 0.4s;
}
.new-article i {
  margin-right: 20px;
  font-size: 24px;
}
.new-article:hover {
  transform: scale(1.03);
  background-color: var(--primary);
}
.dash-board div {
  width: 220px;
  border: 1px solid #000000;
  border-radius: 10px;
  padding: 10px 0;
  margin: 0 15px;
  display: flex;
  align-items: center;
  flex-flow: column;
  background-image: linear-gradient(
    to right,
    var(--seconday),
    var(--primary),
    var(--seconday)
  );
}
.dash-board h2 {
  color: white;
}
.setting-overview {
  display: flex;
  flex-flow: column;
  align-items: center;
  justify-content: space-around;
}
#settings-levels {
  width: 100%;
}
.setting-desc {
  display: flex;
  justify-content: space-between;
  width: 80%;
}
.setting-metter {
  background-color: var(--seconday);
  width: 100%;
  height: 12px;
}
.setting-counter {
  background-color: var(--primary);
  width: 45%;
  height: 12px;
  border-right: solid black 2px;
}
#adding-article {
  display: none;
  flex-flow: column;
  background-color: #abd7d7;
  border-radius: 15px;
  padding: 20px;
}
#title,
#add-article textarea {
  background: rgba(226, 235, 235, 0.92);
  border: 1px solid #000000;
  border-radius: 7px;
  width: 100%;
  padding: 8px 10px;
  margin-bottom: 30px;
}
#add-article textarea {
  overflow: hidden;
}
#submit-article {
  width: 50%;
  padding: 12px 10px;
  background: #54a2a2;
  margin: 20px 0;
  border-radius: 7px;
  color: white;
  font-weight: bold;
  cursor: pointer;
}
#upload {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
#upload img {
  width: 100%;
  height: 100%;
}
.blog-wrapper {
  display: none;
}
.blog-wrapper,
.message-heading {
  /* display: flex; */
  margin: 20px 0;
  align-items: center;
}
#messages,
#articles {
  display: none;
  flex-direction: column;
}
#message-nber {
  width: 80px;
  height: 30px;
  background: #abd7d7;
  border-radius: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-weight: bold;
  margin-left: 40px;
}
.message-view,
.one-article {
  margin: 16px 10px 15px 0;
  background: #c4c4c4;
  padding: 10px;
  flex-direction: column;
  border-radius: 10px;
}
.message-view {
  position: relative;
}
.message-view .message-delete {
  position: absolute;
  top: 20%;
  right: 20px;
  cursor: pointer;
  font-size: 24px;
}
.article-view {
  margin: 16px 0 15px 20px;
  display: flex;
  padding: 15px;
}
.article-heads img {
  width: 100px;
  height: 100px;
  margin: 10px 20px 0 0;
}
.article-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: rgba(25, 132, 132, 0.71);
  margin: 15px;
  font-size: 24px;
}
.article-description p {
  height: 50px;
  overflow: hidden;
}
.article-infos i {
  cursor: pointer;
}
.fa-trash-alt,
.fa-trash {
  color: rgba(172, 67, 67, 0.71);
}
.copyright {
  height: 60px;
  color: rgb(54, 50, 50);
  text-align: center;
  line-height: 60px;
  margin: 20px 0 0 0;
}
