main {
  flex-direction: column;
}
* {
  box-sizing: border-box;
}
h1,
h2 {
  color: rgba(25, 132, 132, 0.71);
  font-weight: normal;
  text-align: center;
}
h1 {
  margin: 40px 0;
  font-size: 36pt;
  letter-spacing: 1pt;
}
h3 {
  font-weight: lighter;
  margin: 15px 0;
  font-size: 24px;
}
.main-wrapper {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 50px 0;
}
.content-wrapper {
  width: 60%;
}
.article-wrap img {
  width: 300px;
  height: 300px;
  margin-right: 20px;
}

.preveiw-wrap {
  display: flex;
  align-items: center;
  background-color: #e4ecec;
  box-shadow: -4px 4px 9px #abd7d7;
  margin: 30px 12px;
  cursor: pointer;
}
.preveiw-wrap img {
  width: 105px;
  height: 90.95px;
  border-radius: 50px;
  margin: 10px 20px 10px 10px;
  float: left;
}

.reactions {
  margin: 40px;
  font-size: 28px;
  color: rgba(25, 132, 132, 0.71);
}
.reactions * {
  margin: 0 25px;
  cursor: pointer;
}
.article-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.article-infos div {
  display: flex;
  align-items: center;
  margin: 20px;
}
.article-infos i {
  margin-right: 20px;
  color: rgba(25, 132, 132, 0.71);
}
.comment,
#commentFrm {
  width: 100%;
}
#comments,
#userName,
.comment button {
  width: 90%;
}
#userName,
#comments {
  margin: 5px 0 12px;
  background: #fdf9f9;
  border: 1px solid #000000;
  border-radius: 5px;
  padding: 10px;
}
.comment button {
  padding: 10px 0;
  cursor: pointer;
  background-color: #abd7d7;
  transition: 0.3s;
}

.comment button:hover {
  background-color: rgba(25, 132, 132, 0.71);
}
.aside {
  width: 35%;
  margin: 40px 0;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px 25px;
  background: rgba(226, 235, 235, 0.92);
}
h5 {
  font-size: 16px;
  line-height: 19px;
}
.media {
  margin-top: 20px;
  flex-shrink: 1;
}
.social_media {
  width: 100%;
}
.media_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.media_icons i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #54a2a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media_icons a:hover {
  text-decoration: none;
}
.suscribe {
  margin-top: 20px;
  flex-shrink: 3;
}
.suscribe form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.suscribe input {
  width: 100%;
  background: rgba(137, 199, 199, 0.67);
  box-sizing: border-box;
  padding: 5px 8px;
  width: 468px;
  height: 41px;
  border-radius: 12px;
}
input:focus {
  border: black 1px solid;
}
.suscribe button {
  background-color: #5ba7a7;
  width: 60px;
  height: 41px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
  transition: 0.4s;
  cursor: pointer;
}

[type='submit']:hover {
  background-color: white;
  color: rgba(25, 132, 132, 0.555);
}
