/* --------------------------------------------------------
HEADER STYLES ARE FOUND IN OUTILS.CSS
------------------------------------------------------------ */
* {
  line-height: 1.5;
}
header li {
  margin-bottom: 0;
}
main {
  flex-direction: column;
  margin-bottom: 60px;
}

h2 {
  color: rgba(25, 132, 132, 0.71);
  font-weight: bold;
}
.most-liked {
  background-color: #e4ecec;
  display: flex;
  justify-content: space-between;
  width: 85%;
  margin: 60px auto;
}
.w-100 img {
  width: 30%px;
  height: 300px;
  margin-right: 20px;
}
h3 {
  font-weight: lighter;
  margin: 15px 0;
  font-size: 24px;
}
.w-100 h2 {
  margin: 15px 0;
}
.w-100 p {
  box-sizing: border-box;
  line-height: 25px;
  padding: 0 10px;
}
.main-wrapper {
  width: 90%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.popular {
  width: 55%;
}
.popular-story {
  margin: 40px 0 70px;
}
.like-wrap {
  height: 100px;
  overflow: hidden;
}
.paragraphs {
  height: 123px;
  overflow: hidden;
  margin-left: 20px;
}
.article-description {
  display: flex;
  justify-content: space-around;
}
.article-description img {
  width: 142px;
  height: 123px;
}
.article-reactions,
.article-infos {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.article-reactions div,
.article-infos div {
  display: flex;
  align-items: center;
  margin-top: 20px;
}
.article-reactions i,
.article-infos i {
  margin-right: 20px;
  color: rgba(25, 132, 132, 0.71);
}
.article-reactions i {
  cursor: pointer;
}
.article-infos p {
  margin: 0;
}
.single-article-preview img {
  width: 105px;
  height: 90.95px;
  border-radius: 50px;
  margin: 10px 20px 10px 10px;
}
.story-list {
  width: 40%;
}
.all-article-list {
  height: 90vh;
  overflow-y: scroll;
  margin: 30px 0;
}

.single-article-preview {
  display: flex;
  align-items: center;
  background-color: #e4ecec;
  box-shadow: -4px 4px 9px #abd7d7;
  margin: 30px 12px;
  cursor: pointer;
}
.media-posts-wrapper {
  width: 90%;
  text-align: center;
  margin: 40px 0;
}
.social-media {
  padding: 40px 0;
  display: flex;
  justify-content: space-around;
}
iframe {
  outline: none;
  border: none;
}
h4,
h5 {
  font-weight: bold;
}
h4 {
  margin-bottom: 40px;
}
.twitter {
  border: solid 2px rgba(25, 132, 132, 0.71);
  height: 300px;
  width: 470px;
  overflow-y: scroll;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px 25px;
  background: rgba(226, 235, 235, 0.92);
}
h5 {
  font-size: 16px;
  line-height: 19px;
}
.media {
  margin-top: 20px;
  flex-shrink: 1;
}
.social_media {
  width: 100%;
}
.media_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.media_icons i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #54a2a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media_icons a:hover {
  text-decoration: none;
}
.suscribe {
  margin-top: 20px;
  flex-shrink: 3;
}
.suscribe form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.suscribe input {
  width: 100%;
  background: rgba(137, 199, 199, 0.67);
  box-sizing: border-box;
  padding: 5px 8px;
  width: 468px;
  height: 41px;
  border-radius: 12px;
}
input:focus {
  border: black 1px solid;
}
.suscribe button {
  background-color: #5ba7a7;
  width: 60px;
  height: 41px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
  transition: 0.4s;
  cursor: pointer;
}

[type='submit']:hover {
  background-color: white;
  color: rgba(25, 132, 132, 0.555);
}
@media screen and (max-width: 960px) {
  .main-wrapper {
    flex-direction: column;
  }
  .popular,
  .story-list {
    width: 95%;
  }
  .media-posts-wrapper,
  .social-media {
    flex-direction: column;
    width: 80%;
    margin: 40px auto;
    justify-content: space-around;
    align-items: center;
  }
  .twitter {
    height: 200px;
    width: 90%;
    overflow-y: scroll;
    margin: 50px 0 10px;
  }
}
@media screen and (max-width: 670px) {
  .w-100 {
    flex-direction: column;
    align-items: center;
    border-radius: 12px;
    box-sizing: border-box;
    padding: 15px;
  }
  .w-100 img {
    height: 150px;
    width: 200px;
  }
}
