/* --------------------------------------------------------
HEADER STYLES ARE FOUND IN OUTILS.CSS
------------------------------------------------------------ */
.profile,
.description {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-height: 400px;
  margin: 40px 0;
}
.profile_picture img {
  border-radius: 50%;
  width: 370px;
  height: 370px;
}
.headings,
.main_text,
.navigation_btns {
  width: 100%;
}
.navigation_btns a:hover {
  text-decoration: none;
}
.headings h1 {
  font-size: 55px;
  line-height: 64px;
  color: rgba(25, 132, 132, 0.71);
}
.headings h2 {
  font-size: 31px;
  line-height: 36px;
  font-weight: normal;
  margin-bottom: 40px;
}
.main_text {
  box-sizing: border-box;
  padding-right: 25px;
}
.main_text p {
  margin-top: 20px;
}
.navigation_btns {
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  margin: 70px 0;
}
.more_about_me {
  width: 251px;
  height: 56px;
  background: rgba(25, 132, 132, 0.71);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
}
.more_about_me:hover {
  background-color: rgba(25, 132, 132, 0.514);
}
.blog_page {
  width: 251px;
  height: 56px;
  background: rgba(137, 199, 199, 0.92);
  display: flex;
  justify-content: space-around;
  align-items: center;
  cursor: pointer;
  transition: 0.4s;
  margin-right: 50px;
}
.blog_page:hover {
  background-color: rgba(137, 199, 199, 0.589);
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px 25px;
  background: rgba(226, 235, 235, 0.92);
}
h5 {
  font-size: 16px;
  line-height: 19px;
}
.media {
  margin-top: 20px;
  flex-shrink: 1;
}
.social_media {
  width: 100%;
}
.media_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.media_icons i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #54a2a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.media_icons a:hover {
  text-decoration: none;
}
.suscribe {
  margin-top: 20px;
  flex-shrink: 3;
}
.suscribe form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.suscribe input {
  width: 100%;
  background: rgba(137, 199, 199, 0.67);
  box-sizing: border-box;
  padding: 5px 8px;
  width: 468px;
  height: 41px;
  border-radius: 12px;
}
input:focus {
  border: black 1px solid;
}
.suscribe button {
  background-color: #5ba7a7;
  width: 60px;
  height: 41px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
  transition: 0.4s;
  cursor: pointer;
}

[type='submit']:hover {
  background-color: white;
  color: rgba(25, 132, 132, 0.555);
}
@media screen and (max-width: 670px) {
  main {
    flex-flow: column;
    width: 100%;
    align-items: center;
  }
  .blog_page,
  .more_about_me {
    margin-right: unset;
    width: 151px;
    height: 50px;
  }
}
