* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
input,
textarea,
button {
  border: none;
  outline: none;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
ul,
ol {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #abd7d7;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
}
.logo {
  font-size: 32px;
  font-weight: bold;
}
.logo span {
  color: rgba(25, 132, 132, 0.71);
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
}
nav li {
  margin-right: 20px;
}
.main_nav ul,
.credential ul {
  display: flex;
  justify-content: space-around;
}
main {
  margin-top: 85px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 500px;
}
.profile,
.description {
  display: flex;
  flex-flow: column;
  justify-content: space-around;
  align-items: center;
  width: 50%;
  min-height: 400px;
}
.profile_picture img {
  border-radius: 50%;
  width: 370px;
  height: 370px;
}
.headings,
.main_text,
.navigation_btns {
  width: 100%;
}
.headings h1 {
  font-size: 55px;
  line-height: 64px;
}
.headings h2 {
  font-size: 31px;
  line-height: 36px;
}
.main_text {
  box-sizing: border-box;
  padding-right: 25px;
}
.main_text p {
  margin-top: 20px;
}
.navigation_btns {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
}
.more_about_me {
  width: 251px;
  height: 56px;
  background: rgba(25, 132, 132, 0.71);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.blog_page {
  width: 251px;
  height: 56px;
  background: rgba(137, 199, 199, 0.92);
  display: flex;
  justify-content: space-around;
  align-items: center;
}
footer {
  width: 100%;
  display: flex;
  justify-content: space-around;
  box-sizing: border-box;
  padding: 15px 25px;
  background: rgba(226, 235, 235, 0.92);
}
h5 {
  font-size: 16px;
  line-height: 19px;
}
.media {
  margin-top: 20px;
  flex-shrink: 1;
}
.social_media {
  width: 100%;
}
.media_icons {
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.media_icons i {
  width: 50px;
  height: 50px;
  font-size: 24px;
  color: #54a2a2;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.suscribe {
  margin-top: 20px;
  flex-shrink: 3;
}
.suscribe form {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin-top: 20px;
}
.suscribe input {
  width: 100%;
  background: rgba(137, 199, 199, 0.67);
  box-sizing: border-box;
  padding: 5px 8px;
  width: 468px;
  height: 41px;
  border-radius: 12px;
}
input:focus {
  border: black 1px solid;
}
.suscribe button {
  background-color: #5ba7a7;
  width: 60px;
  height: 41px;
  font-size: 28px;
  color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 20px;
  margin-left: 15px;
  transition: 0.4s;
  cursor: pointer;
}

[type='submit']:hover {
  background-color: rgba(140, 180, 180, 0.67);
  color: white;
}
.copyright {
  height: 60px;
  color: rgb(54, 50, 50);
  text-align: center;
  line-height: 60px;
}
