* {
  padding: 0;
  margin: 0;
}
body {
  font-family: 'Roboto', sans-serif;
}
input,
textarea,
button {
  border: none;
  outline: none;
}
a,
a:active,
a:visited {
  text-decoration: none;
  color: inherit;
}
a:hover {
  text-decoration: underline;
}
p {
  font-weight: normal;
  line-height: 1.5;
}
ul,
ol {
  list-style: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: #6cadad;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  padding-left: 20px;
  padding-right: 20px;
  z-index: 500;
}
.logo {
  font-size: 32px;
  font-weight: bold;
}
.logo span {
  color: rgba(25, 132, 132, 0.71);
}
nav {
  width: 50%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 18px;
}
nav li {
  margin-right: 20px;
}
.main_nav ul,
.credential ul {
  display: flex;
  justify-content: space-around;
}
main {
  margin-top: 80px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  min-height: 500px;
}
.copyright {
  height: 60px;
  color: rgb(54, 50, 50);
  text-align: center;
  line-height: 60px;
}
.custom-scrolbar::-webkit-scrollbar {
  width: 10px;
}
.custom-scrolbar::-webkit-scrollbar-track {
  background: rgba(226, 235, 235, 0.24);
  border-radius: 10px;
}
.custom-scrolbar::-webkit-scrollbar-thumb {
  background: rgb(226, 235, 235);
  border-radius: 10px;
}
.custom-scrolbar::-webkit-scrollbar-thumb:hover {
  background: #5ba7a7;
}

@media (min-width: 671px) {
  .span,
  .fa-bars,
  .fa-times {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  nav {
    display: none;
  }
  .static {
    position: fixed;
    top: 80px;
    right: 0;
    width: 200px;
    z-index: 600;
    flex-direction: column;
    background: #abd7d7;
    border-bottom-left-radius: 20px;
  }
  .main_nav ul,
  .credential ul {
    flex-flow: column;
    align-self: flex-end;
  }
  nav li {
    line-height: 40px;
  }
  .fa-bars,
  .fa-times {
    align-self: flex-end;
    font-size: 30px;
    color: white;
  }
  footer {
    flex-flow: column;
  }
}
